.footer .footer-title {
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
}

.footer .list-group {
  width: 100%;
  justify-content: center;
}

.footer .list-group-item {
  background: transparent;
  border: none;
  width: 100%;
}
.footer a {
  color: rgb(174, 174, 174);
  text-decoration: none;
}
.footer .list-group-horizontal a {
  font-size: 2rem;
}
.footer a:hover {
  background: transparent;
  color: #fff;
}

.footer .contact-info a {
  display: flex;
  align-items: center;
}

.footer .contact-info i {
  font-size: 2rem;
  margin-right: 1rem;
}

.footer .instagram:hover {
  color: #dd2a7b;
}

.footer .twitter:hover {
  color: #1da1f2;
}

.footer .tiktok:hover {
  color: #000;
  text-shadow: -2px -2px 2px rgba(0, 242, 234, 0.5), 2px 2px 2px rgba(255, 0, 80, 0.5);
}

.footer .youtube:hover {
  color: #f00;
  text-shadow: 0 0 40px rgba(255, 0, 0, 0.5);
}

.footer .whatsapp:hover {
  color: #25d366;
  text-shadow: 0 0 40px rgba(255, 0, 0, 0.5);
}

.footer .email:hover {
  color: #ff1414;
  text-shadow: 0 0 40px rgba(255, 0, 0, 0.5);
}

@media (min-width: 768px) {
  .footer .quick-links {
    padding-left: 3rem;
  }

  .footer .contact-info .list-group {
    margin-left: -1.5rem;
  }
}

@media (min-width: 992px) {
  .footer .quick-links {
    padding-left: 7rem;
  }
}
