.navbar {
  background: linear-gradient(to right, #0d112d, #181130, #241032);
  transition: 0.8s;
  /* transform: translateY(-68px); */
}

/* =================== navbar border animation =================== */
.navbar .border-animation {
  width: 15rem;
  height: 3rem;
}

.navbar .border-animation::after {
  width: 25rem;
  height: 25rem;
}
.navbar .border-animation::before {
  width: 25rem;
  height: 25rem;
}
/* =================== end navbar border animation =================== */

.navbar .container .navbar-brand {
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 10;
}

.navbar .container .navbar-toggler {
  outline: none !important;
  box-shadow: none !important;
}

.navbar .container .navbar-toggler i {
  color: #fff;
  font-size: 1.8em;
}

.nav-link {
  color: #b7b7b7 !important;
  font-size: 1rem;
  font-weight: 500;
  margin: 0.5rem 0.75rem;
}

.nav-link.active,
.navbar .nav-link:hover {
  color: #fff !important;
  border-bottom: 3px solid #b205b5;
}

.nav-link.active {
  font-weight: 600;
  color: #fff !important;
}

.offcanvas {
  background: linear-gradient(to right, #0d112d, #181130, #241032);
  height: 30% !important;
  border-radius: 20px;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  max-height: 35rem;
}

.offcanvas .offcanvas-body {
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100%;
}

@media (min-width: 768px) {
  .navbar {
    transition: 0.8s;
    transform: translateY(-68px);
  }

  .navbar.active {
    transform: translateY(0px);
  }

  .offcanvas {
    height: 22% !important;
    margin: 0 2rem;
  }
}

@media (min-width: 992px) {
  .navbar .nav-link {
    text-transform: uppercase;
  }

  .offcanvas .offcanvas-body {
    width: 50%;
  }
}
