.col {
  overflow: hidden;

  border-radius: 10px;
}

img {
  border-radius: 10px;
  transition: 0.3s;
}

.gallery img:hover {
  transform: scale(1.02);
}

.btn {
  color: #fff !important;
  border: 2px solid #00ffff !important;
  display: none !important;
}

.btn:hover {
  color: #000 !important;
  background: #00ffff !important;
  box-shadow: 0px 0px 10px rgba(0, 255, 255, 0.5);
  display: none !important;
}

.btn.active {
  display: flex !important;
}
