@import url("https://fonts.googleapis.com/css2?family=Mali:wght@400;600;700&family=Poppins:wght@400;500;600;700&family=Roboto+Mono:wght@400;500;600;700&display=swap");

/* ================================================= 
                        GENERAL STYLE 
/* ================================================ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(to bottom right, #07122c, #211032, #330b2f);
  min-height: 100vh;
}
section {
  padding: 5rem 0;
  /* margin: 5rem 0; */
}

main {
  margin-top: 0;
  padding-top: 1rem;
}

/* ================================================= 
                  BORDER ANIMATION 
/* ================================================ */
.border-animation {
  position: relative;
  width: 100%;
  height: 100%;
  background: #0d112d;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.border-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: conic-gradient(transparent, transparent, transparent, #4006ec);
  animation: border-animation 4s linear infinite;
  animation-delay: -2s;
}
.border-animation::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: conic-gradient(transparent, transparent, transparent, #ea2cff);
  animation: border-animation 4s linear infinite;
}

@keyframes border-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.border-animation .inset {
  position: absolute;
  inset: 3px;
  border-radius: 6px;
  background: #0d112d;
  z-index: 10;
}

/* ================================================= 
                END BORDER ANIMATION
/* ================================================ */

/* ================================================= 
                 BUTTON SEE MORE
/* ================================================ */
.btn-see-more {
  width: 10rem;
  height: 3rem;
  margin: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background: linear-gradient(to bottom right, #081e52, #211032, #4b0d45);
}

.btn-see-more a {
  text-decoration: none;
  width: 100%;
  border-radius: 50px;
  color: #fff;
  font-weight: 500;
  text-align: center;
  letter-spacing: 1px;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.btn-see-more:hover {
  box-shadow: 0 0 30px #1e3a9580;
}
.btn-see-more a:hover {
  color: #fff;
}

/* ================================================= 
                 END BUTTON SEE MORE
/* ================================================ */

.title {
  font-family: "Mali", cursive;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  text-shadow: 5px 3px 5px rgba(118, 137, 247, 0.5);
}

.title-desc {
  font-size: 2rem;
}

.description {
  font-family: "Mali", cursive;
  text-align: justify;
  padding: 0 1rem;
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #fff;
  text-shadow: 5px 3px 5px rgba(118, 137, 247, 0.5);
}

.carousel-inner::after {
  display: block;
  clear: both;
  content: "";
}

/* ================================================= 
                    BUTTON GO UP
/* ================================================ */
.go-up {
  position: fixed;
  width: 50px;
  height: 50px;
  background: #333;
  bottom: 3rem;
  right: 2rem;
  border-radius: 50%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  opacity: 0.5;
  transition: all 0.5s;
  display: none;
  position: fixed;
}

.go-up:hover {
  opacity: 1;
}
.go-up i {
  font-size: 2rem;
  color: #fff;
  font-weight: 700;
}
.go-up.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ================================================= 
                    END BUTTON GO UP 
/* ================================================ */

/* ================================================= 
                    END GENERAL STYLE 
/* ================================================ */

/* ================================================= 
                        NAVBAR
/* ================================================ */

/* ================================================= 
                     END NAVBAR 
/* ================================================ */

/* ================================================= 
                       SECTION 
/* ================================================ */

/* ================================================= 
                     END SECTION
/* ================================================ */

/* ================================================= 
                        FOOTER
/* ================================================ */

/* ================================================= 
                     END FOOTER
/* ================================================ */

/* ================================================= 
                DISPLAY FOR 768 TABLET
/* ================================================ */
@media (min-width: 768px) {
  /* ================================================= 
                    GENERAL STYLE
/* ================================================ */
  section {
    margin: 3rem 0;
  }

  .title {
    font-size: 3rem;
  }

  .title-desc {
    font-size: 2rem;
  }

  /* ================================================= 
                    END FOOTER 768PX
/* ================================================ */
}
/* ================================================= 
               END DISPLAY FOR 768 TABLET
/* ================================================ */

/* ================================================= 
                DISPLAY FOR 992 LAPTOP
/* ================================================ */
@media (min-width: 992px) {
  .title {
    font-size: 3.2rem;
  }
  .title-desc {
    font-size: 2.5rem;
  }

  .description {
    font-family: "Mali", cursive;
    text-align: justify;
    padding: 0 1rem;
    margin-top: 1rem;
    font-size: 1.5rem;
  }
  /* ================================================= 
                BUTTON SEE MORE 992PX
/* ================================================ */

  .btn-see-more {
    width: 10rem;
    height: 2.5rem;
  }
  /* ================================================= 
               END BUTTON SEE MORE 992PX
/* ================================================ */
  /* ================================================= 
                      NAVBAR 992PX
/* ================================================ */

  /* ================================================= 
                    END NAVBAR 992PX
/* ================================================ */

  /* ================================================= 
                     FOOTER 992PX
/* ================================================ */

  /* ================================================= 
                    END FOOTER 992PX
/* ================================================ */
}
/* ================================================= 
                END DISPLAY 768PX LAPTOP
/* ================================================ */
