.box {
  background: linear-gradient(90.54deg, rgba(255, 0, 204, 0.28) 0.39%, rgba(51, 51, 153, 0.54) 99.46%);
  /* filter: blur(7px); */
  border-radius: 20px;
  padding: 2rem 1rem;
}

.left-side {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.ITDaysRegistrasi img {
  border-radius: 10px;
}
.SK li {
  letter-spacing: 1px;
  color: #fff;
}

.ITDaysRegistrasi .title {
  font-size: 2rem;
}
.ITDaysRegistrasi .description {
  font-size: 1rem;
}

.ITDaysRegistrasi .button-daftar {
  border-radius: 13px;
}
.ITDaysRegistrasi a {
  text-decoration: none;
  color: #fff;
  border-radius: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1px;
  background: linear-gradient(180deg, #aa076b 0%, #61045f 100%);
  padding: 1rem 4rem;
}

.ITDaysRegistrasi a:hover {
  font-weight: 700;
  color: #fff;
}

.box-peraturan {
  display: flex;
  gap: 2rem;
  margin: 2rem 1rem;
}
.peraturan span {
  font-size: 2rem;
  display: flex;

  color: #fff;
  font-weight: 600;
}

.peraturan li {
  list-style: none;
}

.countdown-timer div {
  margin: 2px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 5rem;
  height: 5rem;
  border-radius: 1rem;
  background: #38dbff;
  color: #000;
  font-weight: 700;
  line-height: 1rem;
  letter-spacing: 1px;
}

.countdown-timer .number {
  margin-top: 1.3rem;
  font-size: 2rem;
  text-shadow: 2px 2px 2px rgba(180, 0, 235, 0.5);
}

.meliputi-custom {
  margin-left: 3rem;
}
