.ITDaysRegistrasi .box {
  background: linear-gradient(90.54deg, rgba(255, 0, 204, 0.28) 0.39%, rgba(51, 51, 153, 0.54) 99.46%);
  border-radius: 20px;
  padding: 2rem 1rem;
}

.ITDaysRegistrasi img {
  border-radius: 10px;
}
.ITDaysRegistrasi .SK li {
  letter-spacing: 1px;
  color: #fff;
}

.ITDaysRegistrasi .title {
  font-size: 2rem;
}
.ITDaysRegistrasi .description {
  font-size: 1rem;
}

.ITDaysRegistrasi .button-daftar {
  border-radius: 13px;
}
.ITDaysRegistrasi a {
  text-decoration: none;
  color: #fff;
  border-radius: 1rem;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  background: linear-gradient(180deg, #aa076b 0%, #61045f 100%);
  padding: 1rem 4rem;
}

.ITDaysRegistrasi a:hover {
  font-weight: 600;
  color: #fff;
}

.ITDaysRegistrasi .peraturan span {
  font-size: 2rem;
  display: flex;
  color: #fff;
  font-weight: 600;
}

.ITDaysRegistrasi .peraturan li {
  list-style: none;
}

.ITDaysRegistrasi .meliputi-custom {
  margin-left: 3rem;
}

.ITDaysRegistrasi .image {
  border-radius: 40px;
  margin: 3rem;
}

.ITDaysRegistrasi .image img {
  border-radius: 40px;
}

.ITDaysRegistrasi .container-left-side,
.ITDaysRegistrasi .container-right-side {
  display: flex;
  flex-direction: column;
}

.ITDaysRegistrasi .container-left-side {
  flex-direction: column-reverse;
}

@media (min-width: 992px) {
  .ITDaysRegistrasi .description {
    font-size: 1.3rem;
  }
}

@media (min-width: 768px) {
  .ITDaysRegistrasi .container-left-side {
    flex-direction: column;
  }
}
